Repository modern-agile-team/modern-kit, pull requests merged in 2024-08, with the labels that each got.

#394 feat(isNumericString): Add isNumericString
  .changeset/little-roses-itch.md
  docs/docs/utils/validator/isNumericString.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isNumericString/index.ts
  packages/utils/src/validator/isNumericString/isNumericString.spec.ts
Labels: feature, @modern-kit/utils

#398 fix: mapKeys, Values 밴치 마크 테스트 추가
  docs/docs/utils/object/mapKeys.md
  docs/docs/utils/object/mapValues.md
  packages/utils/src/array/flattenDeep/index.ts
  packages/utils/src/array/flattenDeepThenMap/index.ts
  packages/utils/src/array/intersection/index.ts
  packages/utils/src/object/mapKeys/index.ts
  packages/utils/src/object/mapKeys/mapKeys.bench.ts
  packages/utils/src/object/mapValues/index.ts
  packages/utils/src/object/mapValues/mapValues.bench.ts
  packages/utils/src/object/mapValues/mapValues.spec.ts
Labels: test, fix

#404 feat(react): useCounter 함수 추가
  .changeset/tough-bananas-reflect.md
  docs/docs/react/hooks/useCounter.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useCounter/index.ts
  packages/react/src/hooks/useCounter/useCounter.spec.ts
Labels: feature, @modern-kit/react

#411 feat(groupBy): Add groupBy
  .changeset/blue-rules-rule.md
  docs/docs/utils/object/groupBy.md
  packages/utils/src/object/groupBy/groupBy.bench.ts
  packages/utils/src/object/groupBy/groupBy.spec.ts
  packages/utils/src/object/groupBy/index.ts
  packages/utils/src/object/index.ts
Labels: feature, @modern-kit/utils

#417 fix(react): deepEqual을 isEqual 로 변경 및 기존 기능 개선
  .changeset/cuddly-papayas-sleep.md
  docs/docs/react/hooks/usePreservedState.mdx
  docs/docs/utils/common/deepEqual.md
  docs/docs/utils/validator/isEqual.md
  packages/react/src/hooks/usePreservedState/index.ts
  packages/utils/src/common/index.ts
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isEqual/index.ts
  packages/utils/src/validator/isEqual/isEqual.bench.ts
  packages/utils/src/validator/isEqual/isEqual.spec.ts
  packages/utils/src/validator/isEqual/isEqual.utils.ts
Labels: feature, @modern-kit/react, @modern-kit/utils, fix

#422 feat(utils): flatMap 신규 유틸 함수 추가
  .changeset/slimy-keys-camp.md
  docs/docs/utils/array/flatMap.md
  packages/react/src/hooks/useCounter/index.ts
  packages/utils/src/array/chunk/index.ts
  packages/utils/src/array/flatMap/flatMap.bench.ts
  packages/utils/src/array/flatMap/flatMap.spec.ts
  packages/utils/src/array/flatMap/index.ts
  packages/utils/src/array/flatten/index.ts
  packages/utils/src/array/flattenDeep/index.ts
  packages/utils/src/array/flattenDeepThenMap/index.ts
  packages/utils/src/array/index.ts
  packages/utils/src/array/shuffle/index.ts
  packages/utils/src/common/pickFalsy/index.ts
  packages/utils/src/object/mergeProperties/index.ts
  packages/utils/src/string/serialize/index.ts
  packages/utils/src/validator/isEqual/isEqual.utils.ts
Labels: feature, @modern-kit/utils

#427 feat(utils): compact 유틸 함수 추가
  .changeset/healthy-dolphins-flow.md
  docs/docs/utils/array/compact.md
  packages/utils/src/array/compact/compact.spec.ts
  packages/utils/src/array/compact/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils

#434 utils validator 일부 모듈 ts-doc 추가
  docs/docs/utils/array/compact.md
  packages/utils/src/array/compact/compact.bench.ts
  packages/utils/src/validator/isArray/index.ts
  packages/utils/src/validator/isBoolean/index.ts
  packages/utils/src/validator/isFloat/index.ts
  packages/utils/src/validator/isFunction/index.ts
  packages/utils/src/validator/isInRange/index.ts
  packages/utils/src/validator/isNumber/index.ts
  packages/utils/src/validator/isNumericString/index.ts
  packages/utils/src/validator/isPlainObject/index.ts
  packages/utils/src/validator/isPrimitive/index.ts
  packages/utils/src/validator/isPromise/index.ts
  packages/utils/src/validator/isReference/index.ts
  packages/utils/src/validator/isString/index.ts
  packages/utils/src/validator/isSubset/index.ts
Labels: documentation, @modern-kit/utils
