Repository modern-agile-team/modern-kit, pull requests merged in 2024-06, with the labels that each got.

#186 feat(react): useMouse 훅 추가 완료
  .changeset/chilled-icons-sniff.md
  docs/docs/react/hooks/useDocumentTitle.mdx
  docs/docs/react/hooks/useMouse.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useMouse/index.ts
  packages/react/src/hooks/useMouse/useMouse.spec.tsx
Labels: documentation, feature, @modern-kit/react

#194 feat(react): useNetwork 신규 훅 추가
  .changeset/fair-windows-jump.md
  docs/docs/react/hooks/useNetwork.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useNetwork/index.ts
  packages/react/src/hooks/useNetwork/useNetwork.spec.tsx
Labels: feature, @modern-kit/react

#195 Utils/chunk
  .changeset/gentle-planes-roll.md
  packages/utils/src/array/chunk/index.ts
Labels: @modern-kit/utils, fix

#198 feat(utils): contain 신규 유틸 함수 추가
  .changeset/unlucky-rules-shop.md
  docs/docs/utils/array/contain.md
  packages/utils/src/array/contain/contain.spec.ts
  packages/utils/src/array/contain/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils

#205 fix(utils): delay 유틸 함수 개선
  .changeset/eight-colts-press.md
  docs/docs/utils/common/delay.md
  packages/utils/src/common/delay/delay.spec.ts
  packages/utils/src/common/delay/index.ts
Labels: @modern-kit/utils, fix

#208 feat(react): useIntersectionObserver 개선 및 InView, LazyImage 수정
  .changeset/cyan-weeks-approve.md
  docs/docs/react/components/InView.mdx
  docs/docs/react/components/LazyImage.mdx
  docs/docs/react/hooks/useIntersectionObserver.mdx
  packages/react/src/components/InView/InView.spec.tsx
  packages/react/src/components/InView/index.tsx
  packages/react/src/components/LazyImage/index.tsx
  packages/react/src/hooks/useIntersectionObserver/index.ts
  packages/react/src/hooks/useIntersectionObserver/useIntersectionObserver.spec.tsx
Labels: documentation, feature, @modern-kit/react, fix

#209 feat(utils): invert, identity 유틸 함수 추가
  .changeset/fresh-worms-melt.md
  docs/docs/utils/common/identity.md
  docs/docs/utils/object/invert.md
  packages/utils/src/common/identity/identity.spec.ts
  packages/utils/src/common/identity/index.ts
  packages/utils/src/common/index.ts
  packages/utils/src/object/index.ts
  packages/utils/src/object/invert/index.ts
  packages/utils/src/object/invert/invert.spec.ts
Labels: feature, @modern-kit/utils

#216 feat(utils): partition 유틸 함수 추가
  .changeset/wet-actors-drop.md
  docs/docs/utils/array/partition.md
  packages/utils/src/array/index.ts
  packages/utils/src/array/partition/index.ts
  packages/utils/src/array/partition/partition.spec.ts
Labels: feature, @modern-kit/utils

#217 feat(utils): isPrimitive 함수 추가 및 Primitive, Reference 유틸 타입 추가
  .changeset/hot-cameras-clean.md
  .eslintrc.cjs
  docs/docs/utils/validator/isPrimitive.md
  packages/types/src/Primitive/Primitive.spec.ts
  packages/types/src/Primitive/index.ts
  packages/types/src/Reference/Primitive.spec.ts
  packages/types/src/Reference/index.ts
  packages/types/src/index.ts
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isPrimitive/index.ts
  packages/utils/src/validator/isPrimitive/isPrimitive.spec.ts
Labels: feature, @modern-kit/utils, @modern-kit/types

#219 fix: invert 명확한 타입 추론을 위한 타입 개선
  docs/docs/utils/object/invert.md
  packages/utils/src/object/invert/index.ts
  packages/utils/src/object/invert/invert.spec.ts
Labels: @modern-kit/utils, fix

#212 feat(react): useScrollLock 신규 컴포넌트 추가
  .changeset/good-parents-return.md
  docs/docs/react/hooks/useScrollLock.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useScrollLock/index.ts
  packages/react/src/hooks/useScrollLock/useScrollLock.spec.ts
Labels: feature, @modern-kit/react

#223 feat(utils): uniq 신규 유틸 함수 추가
  .changeset/shaggy-planes-develop.md
  docs/docs/utils/array/uniq.md
  packages/utils/src/array/index.ts
  packages/utils/src/array/uniq/index.ts
  packages/utils/src/array/uniq/uniq.spec.ts
Labels: feature, @modern-kit/utils

#229 feat(utils): union 유틸 함수 추가 및 ArrayWithReadonly 유틸 타입 추가
  .changeset/lazy-years-change.md
  docs/docs/utils/array/contain.md
  docs/docs/utils/array/excludeElements.md
  docs/docs/utils/array/partition.md
  docs/docs/utils/array/union.md
  docs/docs/utils/array/uniq.md
  packages/types/src/ArrayWithReadonly/index.ts
  packages/types/src/index.ts
  packages/utils/src/array/contain/index.ts
  packages/utils/src/array/excludeElements/index.ts
  packages/utils/src/array/partition/index.ts
  packages/utils/src/array/union/index.ts
  packages/utils/src/array/union/union.spec.ts
  packages/utils/src/array/uniq/uniq.spec.ts
Labels: feature, @modern-kit/utils

#232 fix(react): LazyImage 내부 스타일 제거
  .changeset/unlucky-turtles-look.md
  docs/docs/react/components/LazyImage.mdx
  packages/react/src/components/LazyImage/index.tsx
Labels: @modern-kit/react, fix

#230 feat(utils): isFloat 함수 추가 완료
  .changeset/angry-boxes-agree.md
  docs/docs/utils/number/isFloat.mdx
  packages/utils/src/index.ts
  packages/utils/src/number/index.ts
  packages/utils/src/number/isFloat/index.ts
  packages/utils/src/number/isFloat/isFloat.spec.ts
Labels: feature, @modern-kit/utils

#241 feat(utils): extractletters 신규 유틸 함수 추가
  .changeset/pretty-seals-applaud.md
  docs/docs/utils/string/extractLetters.md
  packages/utils/src/string/extractLetters/extractLetters.spec.ts
  packages/utils/src/string/extractLetters/index.ts
  packages/utils/src/string/index.ts
Labels: feature, @modern-kit/utils

#244 fix(utils): parseJSON 개선
  .changeset/lucky-glasses-move.md
  .changeset/tidy-yaks-glow.md
  docs/docs/utils/common/parseJSON.md
  docs/docs/utils/common/parseJson.md
  packages/utils/src/common/index.ts
  packages/utils/src/common/parseJSON/index.ts
  packages/utils/src/common/parseJSON/parseJSON.spec.ts
  packages/utils/src/common/parseJson/index.ts
Labels: @modern-kit/utils, fix

#245 fix: useLocalStorage setState 및 타입 개선
  docs/docs/react/hooks/useLocalStorage.mdx
  packages/react/src/hooks/useLocalStorage/index.ts
Labels: feature, @modern-kit/react

#246 feat(react): useSessionStorage 신규 훅 추가
  .changeset/wet-hats-taste.md
  docs/docs/react/hooks/useLocalStorage.mdx
  docs/docs/react/hooks/useSessionStorage.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useSessionStorage/index.ts
  packages/react/src/hooks/useSessionStorage/useSessionStorage.spec.tsx
Labels: feature, @modern-kit/react

#236 feat(react): FallbackLazyImage 신규 컴포넌트 추가
  .changeset/smart-items-nail.md
  docs/docs/react/components/FallbackLazyImage.mdx
  docs/docs/react/components/LazyImage.mdx
  packages/react/src/components/FallbackLazyImage/FallbackLazyImage.spec.tsx
  packages/react/src/components/FallbackLazyImage/index.tsx
  packages/react/src/components/LazyImage/LazyImage.spec.tsx
  packages/react/src/components/LazyImage/index.tsx
  packages/react/src/components/index.ts
Labels: feature, @modern-kit/react

#248 feat(react): useIntersectionObserver enabled 옵션 추가
  .changeset/violet-moons-glow.md
  docs/docs/react/hooks/useIntersectionObserver.mdx
  packages/react/src/hooks/useIntersectionObserver/index.ts
  packages/react/src/hooks/useIntersectionObserver/useIntersectionObserver.spec.tsx
Labels: feature, @modern-kit/react

#251 fix: isFloat validator로 변경
  docs/docs/utils/validator/isFloat.md
  docs/docs/utils/validator/isInRange.md
  packages/utils/src/index.ts
  packages/utils/src/number/index.ts
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isFloat/index.ts
  packages/utils/src/validator/isFloat/isFloat.spec.ts
Labels: @modern-kit/utils, fix

#254 fix(react): useVhProperty 옵션 및 문서 수정
  .changeset/eight-seals-know.md
  docs/docs/react/hooks/useMouse.mdx
  docs/docs/react/hooks/useVhProperty.mdx
  packages/react/src/hooks/useVhProperty/index.ts
  packages/react/src/hooks/useVhProperty/useVhProperty.spec.ts
Labels: @modern-kit/react, fix

#253 feat(react): useStep 훅 추가
  .changeset/forty-bugs-do.md
  docs/docs/react/hooks/useStep.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useStep/index.ts
  packages/react/src/hooks/useStep/useStep.spec.ts
Labels: feature, @modern-kit/react

#255 feat(utils): min, max 함수 추가
  .changeset/friendly-brooms-dance.md
  docs/docs/utils/math/max.md
  docs/docs/utils/math/min.md
  packages/utils/src/index.ts
  packages/utils/src/math/index.ts
  packages/utils/src/math/max/index.ts
  packages/utils/src/math/max/max.spec.ts
  packages/utils/src/math/min/index.ts
  packages/utils/src/math/min/min.spec.ts
Labels: feature, @modern-kit/utils

#264 feat(react): useUserAgent 신규 커스텀 훅 추가
  .changeset/polite-parrots-rest.md
  .pnp.cjs
  .yarn/cache/@types-ua-parser-js-npm-0.7.39-23053990d8-fea522f42d.zip
  .yarn/cache/ua-parser-js-npm-1.0.38-63d05d91e2-b1dd11b87e.zip
  docs/docs/react/hooks/useUserAgent.mdx
  packages/react/package.json
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useUserAgent/index.ts
  packages/react/src/hooks/useUserAgent/useUserAgent.spec.ts
  yarn.lock
Labels: feature, @modern-kit/react

#273 fix(utils): excludeElements 성능 개선을 위해 인터페이스 변경
  .changeset/poor-cheetahs-admire.md
  docs/docs/utils/array/excludeElements.md
  packages/utils/src/array/excludeElements/excludeElements.spec.ts
  packages/utils/src/array/excludeElements/index.ts
Labels: feature, @modern-kit/utils

#274 feat(react): SeparatedIterator 신규 컴포넌트 추가
  .changeset/curly-rivers-relate.md
  docs/docs/react/components/Iterator.mdx
  docs/docs/react/components/SeparatedIterator.mdx
  packages/react/src/components/SeparatedIterator/SeparatedIterator.spec.tsx
  packages/react/src/components/SeparatedIterator/index.tsx
  packages/react/src/components/index.ts
Labels: feature, @modern-kit/react

#275 fix(react): useMergeRefs 개선
  .changeset/grumpy-fans-buy.md
  docs/docs/react/hooks/useMergeRefs.mdx
  packages/react/src/components/InView/index.tsx
  packages/react/src/hooks/useMergeRefs/index.ts
Labels: @modern-kit/react, fix

#281 feat(react): useStepState 신규 커스텀 훅 추가
  .changeset/long-hairs-attack.md
  docs/docs/react/components/InView.mdx
  docs/docs/react/hooks/useResizeObserver.mdx
  docs/docs/react/hooks/useStep.mdx
  docs/docs/react/hooks/useStepState.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useStep/index.ts
  packages/react/src/hooks/useStepState/index.ts
  packages/react/src/hooks/useStepState/useStepState.spec.ts
Labels: feature, @modern-kit/react

#283 feat(utils): isReference 유틸 함수 추가
  .changeset/afraid-ravens-rescue.md
  docs/docs/utils/validator/isReference.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isReference/index.ts
  packages/utils/src/validator/isReference/isReference.spec.ts
Labels: feature, @modern-kit/utils
