Repository modern-agile-team/modern-kit, pull requests merged in 2024-07, with the labels that each got.

#287 feat(util): average 함수 구현
  .changeset/honest-swans-bathe.md
  docs/docs/utils/math/average.md
  packages/utils/src/math/average/average.spec.ts
  packages/utils/src/math/average/index.ts
  packages/utils/src/math/index.ts
  packages/utils/src/math/sum/sum.spec.ts
Labels: feature, @modern-kit/utils

#297 fix(utils): omit 타입 변경 및 deepCopy 개선
  .changeset/curly-papayas-study.md
  docs/docs/utils/object/omit.md
  packages/utils/src/common/deepCopy/index.ts
  packages/utils/src/object/omit/index.ts
  packages/utils/src/object/omit/omit.spec.ts
Labels: refactor, @modern-kit/utils, fix

#300 feat(utils): isPlainObject 유틸 함수 추가
  .changeset/quick-pets-leave.md
  docs/docs/utils/validator/isPlainObject.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isPlainObject/index.ts
  packages/utils/src/validator/isPlainObject/isPlainObject.spec.ts
Labels: feature, @modern-kit/utils

#303 feat(utils): flatten 신규 유틸 함수 추가
  .changeset/quick-dolphins-serve.md
  docs/docs/utils/array/flatten.md
  packages/utils/src/array/flatten/flatten.spec.ts
  packages/utils/src/array/flatten/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils

#305 fix(react): 컴포넌트 개선 Iterator, SeparatedIterator
  .changeset/warm-falcons-sleep.md
  docs/docs/react/components/Iterator.mdx
  docs/docs/react/components/SeparatedIterator.mdx
  packages/react/src/components/Iterator/Iterator.spec.tsx
  packages/react/src/components/Iterator/index.tsx
  packages/react/src/components/SeparatedIterator/SeparatedIterator.spec.tsx
  packages/react/src/components/SeparatedIterator/index.tsx
  packages/types/src/Reference/index.ts
  packages/utils/src/validator/isPlainObject/index.ts
  packages/utils/src/validator/isReference/index.ts
Labels: feature, @modern-kit/react, @modern-kit/utils, @modern-kit/types, fix

#294 feat(utils): deepFlatThenMap 신규 유틸 함수 추가
  .changeset/bright-readers-rule.md
  .changeset/cuddly-students-accept.md
  docs/docs/utils/array/deepFlatThenMap.md
  packages/types/src/ExtractNestedArrayType/ExtractNestedArrayType.spec.ts
  packages/types/src/ExtractNestedArrayType/index.ts
  packages/types/src/index.ts
  packages/utils/src/array/deepFlatThenMap/deepFlatThenMap.spec.ts
  packages/utils/src/array/deepFlatThenMap/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils, @modern-kit/types

#310 test(utils): flatten 밴치마크 테스트 추가
  .pnp.cjs
  docs/docs/utils/array/flatten.md
  packages/utils/package.json
  packages/utils/src/array/flatten/flatten.bench.ts
  packages/utils/tsconfig.json
  yarn.lock
Labels: @modern-kit/utils, test

#311 fix(utils): intersection 기능 개선 및 밴치마크 추가
  docs/docs/utils/array/intersection.md
  packages/utils/src/array/intersection/index.ts
  packages/utils/src/array/intersection/intersection.bench.ts
  packages/utils/src/array/intersectionWithDuplicates/index.ts
  packages/utils/vitest.config.ts
Labels: @modern-kit/utils, test

#313 fix: difference 성능 개선 및 밴치마크 테스트 추가
  docs/docs/utils/array/difference.md
  packages/utils/src/array/difference/difference.bench.ts
  packages/utils/src/array/difference/index.ts
Labels: @modern-kit/utils, test, fix

#309 Feat(utils): isSubset
  .changeset/tidy-guests-clean.md
  docs/docs/utils/validator/isSubset.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isSubset/index.ts
  packages/utils/src/validator/isSubset/isSubset.spec.ts
Labels: feature, @modern-kit/utils

#322 feat(react): usePreferredColocScheme 신규 훅 추가
  .changeset/tidy-eagles-kiss.md
  docs/docs/react/hooks/useMediaQuery.mdx
  docs/docs/react/hooks/usePreferredColorScheme.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useMediaQuery/index.ts
  packages/react/src/hooks/useMediaQuery/useMediaQuery.spec.ts
  packages/react/src/hooks/usePreferredColorScheme/index.ts
  packages/react/src/hooks/usePreferredColorScheme/usePreferredColorScheme.spec.ts
Labels: feature, @modern-kit/react

#326 feat(utils): deepFlatThenMap -> flattenDeepThenMap 네이밍 변경 및 flattenDeep 추가
  .changeset/lucky-plums-hope.md
  docs/docs/utils/array/deepFlatThenMap.md
  docs/docs/utils/array/flatten.md
  docs/docs/utils/array/flattenDeep.md
  docs/docs/utils/array/flattenDeepThenMap.md
  packages/utils/src/array/deepFlatThenMap/deepFlatThenMap.spec.ts
  packages/utils/src/array/deepFlatThenMap/index.ts
  packages/utils/src/array/flatten/index.ts
  packages/utils/src/array/flattenDeep/index.ts
  packages/utils/src/array/flattenDeepThenMap/flattenDeepThenMap.bench.ts
  packages/utils/src/array/flattenDeepThenMap/flattenDeepThenMap.spec.ts
  packages/utils/src/array/flattenDeepThenMap/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils

#329 feat(utils): forEachRight 유틸 함수 추가
  .changeset/wild-adults-hunt.md
  docs/docs/utils/array/forEachRight.md
  packages/utils/src/array/forEachRight/forEachRight.spec.ts
  packages/utils/src/array/forEachRight/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils

#336 feat(utils): size 신규 유틸 함수 추가
  .changeset/rotten-emus-thank.md
  docs/docs/utils/common/size.md
  packages/utils/src/common/size/index.ts
  packages/utils/src/common/size/size.bench.ts
  packages/utils/src/common/size/size.spec.ts
Labels: feature, @modern-kit/utils

#337 test: forEachRight benchmark 추가
  docs/docs/utils/array/flattenDeep.md
  docs/docs/utils/array/forEachRight.md
  docs/docs/utils/common/size.md
  packages/utils/src/array/flatten/index.ts
  packages/utils/src/array/flattenDeep/index.ts
  packages/utils/src/array/flattenDeepThenMap/index.ts
  packages/utils/src/array/forEachRight/forEachRight.bench.ts
  packages/utils/src/array/forEachRight/forEachRight.spec.ts
  packages/utils/src/array/forEachRight/index.ts
Labels: @modern-kit/utils, test

#339 feat(utils): shuffle 신규 함수 추가
  .changeset/twenty-bats-leave.md
  docs/docs/utils/array/shuffle.md
  packages/utils/src/array/index.ts
  packages/utils/src/array/shuffle/index.ts
  packages/utils/src/array/shuffle/shuffle.bench.ts
  packages/utils/src/array/shuffle/shuffle.spec.ts
Labels: feature, @modern-kit/utils

#342 feat(utils): mapRight 유틸 함수 추가
  .changeset/seven-grapes-greet.md
  docs/docs/utils/array/mapRight.md
  packages/utils/src/array/index.ts
  packages/utils/src/array/mapRight/index.ts
  packages/utils/src/array/mapRight/mapRight.spec.ts
Labels: feature, @modern-kit/utils

#344 feat(utils): range 함수 추가 완료
  .changeset/two-keys-chew.md
  docs/docs/utils/math/range.md
  packages/utils/src/math/index.ts
  packages/utils/src/math/range/index.ts
  packages/utils/src/math/range/range.bench.ts
  packages/utils/src/math/range/range.spec.ts
Labels: feature, @modern-kit/utils

#349 fix(react): useStep step의 최소 값과 initialStep 기본 값을 0으로 수정
  .changeset/fifty-beers-scream.md
  docs/docs/react/hooks/useStep.mdx
  packages/react/src/hooks/useStep/index.ts
  packages/react/src/hooks/useStep/useStep.spec.ts
  packages/react/src/hooks/useStepState/useStepState.spec.ts
Labels: @modern-kit/react, fix

#351 feat(react): useCycleList 신규 훅 추가
  .changeset/soft-beans-return.md
  docs/docs/react/hooks/useCycleList.mdx
  docs/docs/react/hooks/useStep.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useCycleList/index.ts
  packages/react/src/hooks/useCycleList/useCycleList.spec.ts
  packages/react/src/hooks/useStep/index.ts
  packages/react/src/hooks/useStep/useStep.spec.ts
Labels: feature, @modern-kit/react

#354 fix(react): usePreservedCallback 최신 함수 보장 이슈 해결 및 테스트 코드 개선
  .changeset/flat-pigs-hug.md
  packages/react/src/hooks/usePreservedCallback/index.ts
  packages/react/src/hooks/usePreservedCallback/usePreservedCallback.spec.ts
Labels: @modern-kit/react, test, fix

#363 fix(types): Reference 테스트 코드 파일명 수정
  packages/types/src/Reference/Reference.spec.ts
  packages/types/src/Reference/index.ts
Labels: @modern-kit/types, test, fix

#355 feat(react): useTimeout 개선 및 기능 추가
  .changeset/tidy-mangos-dance.md
  docs/docs/react/hooks/useTimeout.mdx
  packages/react/src/hooks/useTimeout/index.ts
  packages/react/src/hooks/useTimeout/useTimeout.spec.tsx
Labels: feature, @modern-kit/react, test

#364 feat(react): IfElse 컴포넌트 기능 추가
  .changeset/twenty-dolls-matter.md
  docs/docs/react/components/IfElse.mdx
  packages/react/src/components/IfElse/IfElse.spec.tsx
  packages/react/src/components/IfElse/index.tsx
  packages/react/src/components/index.ts
Labels: feature, @modern-kit/react

#376 feat(react): useScrollTo 기능 변경 및 isWindow 함수 추가
  .changeset/green-wombats-whisper.md
  .changeset/strong-mugs-flash.md
  docs/docs/react/hooks/useScrollTo.mdx
  docs/docs/utils/validator/isWindow.md
  packages/react/src/hooks/useScrollTo/index.ts
  packages/react/src/hooks/useScrollTo/internal.ts
  packages/react/src/hooks/useScrollTo/useScrollTo.spec.tsx
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isWindow/index.ts
  packages/utils/src/validator/isWindow/isWindow.spec.ts
Labels: feature, @modern-kit/react, @modern-kit/utils, fix

#375 feat(utils): serialize 유틸함수 추가 완료
  .changeset/early-turtles-visit.md
  docs/docs/utils/string/serialize.md
  packages/utils/src/string/index.ts
  packages/utils/src/string/serialize/index.ts
  packages/utils/src/string/serialize/internal.ts
  packages/utils/src/string/serialize/serialize.spec.ts
Labels: feature, @modern-kit/utils

#368 feat(utils) mapValues 유틸 함수 추가
  .changeset/happy-cats-wave.md
  docs/docs/utils/object/mapValues.md
  packages/utils/src/object/index.ts
  packages/utils/src/object/mapValues/index.ts
  packages/utils/src/object/mapValues/mapValues.bench.ts
  packages/utils/src/object/mapValues/mapValues.spec.ts
Labels: feature, @modern-kit/utils

#381 fix(react): useScrollTo align 옵션 추가
  .changeset/gold-cows-travel.md
  docs/docs/react/hooks/useScrollTo.mdx
  packages/react/src/hooks/useScrollTo/index.ts
  packages/react/src/hooks/useScrollTo/internal.ts
  packages/react/vitest.config.ts
Labels: feature, @modern-kit/react

#380 feat(utils): pickFalsy 함수 추가 완료
  .changeset/nervous-masks-tie.md
  docs/docs/utils/common/pickFalsy.md
  docs/docs/utils/validator/isBoolean.md
  packages/utils/src/common/index.ts
  packages/utils/src/common/pickFalsy/index.ts
  packages/utils/src/common/pickFalsy/internal.ts
  packages/utils/src/common/pickFalsy/pickFalsy.spec.ts
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isBoolean/index.ts
  packages/utils/src/validator/isBoolean/isBoolean.spec.ts
Labels: feature, @modern-kit/utils
