Repository modern-agile-team/modern-kit, pull requests merged in 2024-09, with the labels that each got.

#439 docs(utils): Intersection ts-doc 추가
  packages/utils/src/array/intersection/index.ts
  packages/utils/src/array/intersectionWithDuplicates/index.ts
Labels: documentation, @modern-kit/utils

#442 feat(utils): once 함수 추가
  .changeset/tall-jeans-divide.md
  docs/docs/utils/common/hexToRgba.md
  docs/docs/utils/common/once.md
  packages/utils/src/common/asyncNoop/index.ts
  packages/utils/src/common/delay/index.ts
  packages/utils/src/common/hexToRgba/hexToRgba.spec.ts
  packages/utils/src/common/hexToRgba/index.ts
  packages/utils/src/common/hexToRgba/utils.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/noop/index.ts
  packages/utils/src/common/once/index.ts
  packages/utils/src/common/once/once.spec.ts
Labels: feature, @modern-kit/utils

#447 fix(react): useInterval, useTimeout 개선
  .changeset/sharp-bananas-prove.md
  docs/docs/react/hooks/useInterval.mdx
  docs/docs/react/hooks/useLocalStorage.mdx
  docs/docs/react/hooks/useSessionStorage.mdx
  docs/docs/react/hooks/useTimeout.mdx
  packages/react/src/_internal/storage.ts
  packages/react/src/hooks/useInterval/index.ts
  packages/react/src/hooks/useInterval/useInterval.spec.tsx
  packages/react/src/hooks/useInterval/useInterval.types.ts
  packages/react/src/hooks/useInterval/useInterval.utils.ts
  packages/react/src/hooks/useLocalStorage/index.ts
  packages/react/src/hooks/useLocalStorage/useLocalStorage.utils.ts
  packages/react/src/hooks/useSessionStorage/index.ts
  packages/react/src/hooks/useSessionStorage/useSessionStorage.utils.ts
  packages/react/src/hooks/useTimeout/index.ts
  packages/react/src/hooks/useTimeout/useTimeout.types.ts
  packages/react/src/hooks/useTimeout/useTimeout.utils.ts
Labels: feature, @modern-kit/react, fix

#451 feat(utils) swap 함수 추가
  .changeset/tidy-falcons-hide.md
  docs/docs/utils/array/swap.md
  packages/utils/src/array/index.ts
  packages/utils/src/array/shuffle/index.ts
  packages/utils/src/array/swap/index.ts
  packages/utils/src/array/swap/swap.spec.ts
Labels: feature, @modern-kit/utils

#458 fix(react): useIntersectionObserver 반환 타입 수정 및 일부 훅 ts-doc 추가
  .changeset/unlucky-icons-taste.md
  docs/docs/react/hooks/useDebouncedInputValue.mdx
  docs/docs/react/hooks/useIntersectionObserver.mdx
  docs/docs/react/hooks/useResizeObserver.mdx
  packages/react/src/hooks/useDebounce/index.ts
  packages/react/src/hooks/useDebouncedInputValue/index.ts
  packages/react/src/hooks/useDebouncedInputValue/useDebouncedInputValue.spec.ts
  packages/react/src/hooks/useDebouncedInputValue/useDebouncedInputValue.spec.tsx
  packages/react/src/hooks/useIntersectionObserver/index.ts
  packages/react/src/hooks/useIsomorphicLayoutEffect/index.ts
  packages/react/src/hooks/useMediaQuery/index.ts
  packages/react/src/hooks/usePreferredColorScheme/index.ts
  packages/react/src/hooks/useResizeObserver/index.ts
  packages/utils/src/device/isClient/index.ts
  packages/utils/src/device/isServer/index.ts
Labels: @modern-kit/react, fix

#459 feat: fill 함수 작업 완료
  .changeset/twelve-jars-beg.md
  docs/docs/utils/array/fill.md
  packages/utils/src/array/fill/fill.bench.ts
  packages/utils/src/array/fill/fill.spec.ts
  packages/utils/src/array/fill/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils

#461 feat: drop 유틸함수 추가
  .changeset/twelve-elephants-study.md
  docs/docs/utils/array/drop.md
  docs/docs/utils/array/fill.md
  packages/utils/src/array/drop/drop.bench.ts
  packages/utils/src/array/drop/drop.spec.ts
  packages/utils/src/array/drop/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils

#466 feat: clipboard read 관련 유틸 함수 추가 및 useClipboard 기능 추가
  .changeset/shaggy-emus-shave.md
  docs/docs/react/hooks/useClipboard.mdx
  docs/docs/react/hooks/useCycleList.mdx
  docs/docs/utils/array/excludeElements.md
  docs/docs/utils/array/fill.md
  docs/docs/utils/array/forEachRight.md
  docs/docs/utils/array/mapRight.md
  docs/docs/utils/clipboard/copyClipboardImage.md
  docs/docs/utils/clipboard/readClipboardContents.md
  docs/docs/utils/clipboard/readClipboardText.md
  packages/react/src/hooks/useClipboard/index.ts
  packages/react/src/hooks/useCycleList/index.ts
  packages/utils/src/array/excludeElements/index.ts
  packages/utils/src/array/fill/index.ts
  packages/utils/src/array/forEachRight/index.ts
  packages/utils/src/array/mapRight/index.ts
  packages/utils/src/clipboard/copyClipboardImage/copyClipboardImage.utils.ts
  packages/utils/src/clipboard/copyClipboardImage/index.ts
  packages/utils/src/clipboard/copyClipboardText/index.ts
  packages/utils/src/clipboard/copyFallbackClipboardText/index.ts
  packages/utils/src/clipboard/index.ts
  packages/utils/src/clipboard/readClipboardContents/index.ts
  packages/utils/src/clipboard/readClipboardText/index.ts
  packages/utils/src/object/groupBy/index.ts
  packages/utils/src/string/serialize/internal.ts
Labels: feature, @modern-kit/react, @modern-kit/utils

#467 docs: useClipboard 문서 수정
  docs/docs/react/hooks/useClipboard.mdx
  packages/react/src/hooks/useClipboard/index.ts
Labels: documentation, @modern-kit/react, fix

#469 refac(react): storage setState 타입 변경 및 ts-doc 추가
  .changeset/young-rats-lick.md
  docs/docs/react/hooks/useLocalStorage.mdx
  docs/docs/react/hooks/useSessionStorage.mdx
  packages/react/src/hooks/useDocumentTitle/index.ts
  packages/react/src/hooks/useForceUpdate/index.ts
  packages/react/src/hooks/useLocalStorage/index.ts
  packages/react/src/hooks/useOnClickOutside/index.ts
  packages/react/src/hooks/useSessionStorage/index.ts
  packages/utils/src/device/isMobile/index.ts
Labels: refactor

#471 feat(utils): take 유틸함수 작업 완료
  .changeset/warm-trains-think.md
  docs/docs/utils/array/take.md
  packages/utils/src/array/index.ts
  packages/utils/src/array/take/index.ts
  packages/utils/src/array/take/take.bench.ts
  packages/utils/src/array/take/take.spec.ts
Labels: feature, @modern-kit/utils

#472 fix: useDebouncedInputValue 내부 로직 변경
  packages/react/src/hooks/useDebouncedInputValue/index.ts
Labels: feature, @modern-kit/react

#473 feat: useDebouncedState 신규 훅 추가
  .changeset/purple-singers-teach.md
  docs/docs/react/hooks/useCycleList.mdx
  docs/docs/react/hooks/useDebounce.mdx
  docs/docs/react/hooks/useDebouncedInputValue.mdx
  docs/docs/react/hooks/useDebouncedState.mdx
  docs/docs/react/hooks/useStep.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useCycleList/index.ts
  packages/react/src/hooks/useDebounce/index.ts
  packages/react/src/hooks/useDebouncedInputValue/index.ts
  packages/react/src/hooks/useDebouncedState/index.ts
  packages/react/src/hooks/useDebouncedState/useDebouncedState.spec.tsx
  packages/react/src/hooks/useStep/index.ts
Labels: feature, @modern-kit/react

#474 feat(react): useThrottle 훅 추가
  .changeset/loud-taxis-walk.md
  docs/docs/react/hooks/useDebounce.mdx
  docs/docs/react/hooks/usePreservedCallback.mdx
  docs/docs/react/hooks/usePreservedState.mdx
  docs/docs/react/hooks/useThrottle.mdx
  docs/docs/react/hooks/useToggle.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/usePreservedCallback/index.ts
  packages/react/src/hooks/usePreservedState/index.ts
  packages/react/src/hooks/useResizeObserver/index.ts
  packages/react/src/hooks/useThrottle/index.ts
  packages/react/src/hooks/useThrottle/useThrottle.spec.ts
  packages/react/src/hooks/useToggle/index.ts
  packages/react/src/hooks/useToggle/useToggle.spec.tsx
Labels: feature, @modern-kit/react

#476 feat(react): useEventListenr 신규 훅 추가
  .changeset/late-kings-retire.md
  .changeset/swift-squids-cover.md
  docs/docs/react/components/OutsideClick.mdx
  docs/docs/react/hooks/useEventListener.mdx
  docs/docs/react/hooks/useMediaQuery.mdx
  docs/docs/react/hooks/useMouse.mdx
  docs/docs/react/hooks/useOnClickOutside.mdx
  docs/docs/react/hooks/useOutsidePointerDown.mdx
  docs/docs/react/hooks/usePreferredColorScheme.mdx
  docs/docs/react/hooks/useWindowSize.mdx
  packages/react/src/components/OutsideClick/index.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useEventListener/index.ts
  packages/react/src/hooks/useEventListener/useEventListener.spec.tsx
  packages/react/src/hooks/useHover/index.ts
  packages/react/src/hooks/useMediaQuery/index.ts
  packages/react/src/hooks/useMouse/index.ts
  packages/react/src/hooks/useMouse/useMouse.spec.tsx
  packages/react/src/hooks/useOutsidePointerDown/index.ts
  packages/react/src/hooks/useOutsidePointerDown/useOutsidePointerDown.spec.tsx
  packages/react/src/hooks/useVisibilityChange/index.ts
  packages/react/src/hooks/useVisibilityChange/useVisibilityChange.spec.ts
  packages/react/src/hooks/useWindowSize/index.ts
Labels: feature, @modern-kit/react

#479 fix(react): useEventListener ref 이슈 대응 작업
  .changeset/ten-garlics-smoke.md
  docs/docs/react/hooks/useEventListener.mdx
  packages/react/src/hooks/useEventListener/index.ts
  packages/react/src/hooks/useEventListener/useEventListener.utils.ts
  packages/react/src/hooks/useHover/index.ts
  packages/react/src/hooks/useMouse/index.ts
  packages/react/src/hooks/useOutsidePointerDown/index.ts
  packages/react/src/hooks/usePreferredColorScheme/index.ts
Labels: @modern-kit/react, fix

#486 fix(react): useBlockPromiseMultipleClick
  .changeset/many-pumpkins-tie.md
  packages/react/src/hooks/useBlockPromiseMultipleClick/index.ts
Labels: @modern-kit/react, fix

#488 fix(utils): contains 타입 개선
  packages/utils/src/array/contains/index.ts
  packages/utils/src/array/difference/index.ts
Labels: @modern-kit/utils, fix
