Repository modern-agile-team/modern-kit, pull requests merged in 2024-05, with the labels that each got.

#94 feat(types): ExtractSetType, ExtractMapType, Promiseable 추가
  .changeset/fair-tips-smash.md
  packages/types/src/ExtractMapType/ExtractMapType.spec.ts
  packages/types/src/ExtractMapType/index.ts
  packages/types/src/ExtractSetType/ExtractSetType.spec.ts
  packages/types/src/ExtractSetType/index.ts
  packages/types/src/Promiseable/Promiseable.spec.ts
  packages/types/src/Promiseable/index.ts
  packages/types/src/index.ts
Labels: feature, @modern-kit/types

#101 feat(#100): SwitchCase 컴포넌트 추가
  packages/react/src/components/SwitchCase/SwitchCase.test.tsx
  packages/react/src/components/SwitchCase/index.tsx
  packages/react/src/components/When/When.spec.tsx
  packages/react/src/components/When/index.tsx
  packages/react/src/components/index.ts
Labels: feature, @modern-kit/react

#102 docs: SwitchCase 문서 추가
  .changeset/seven-pants-eat.md
  docs/docs/react/components/SwithCase.mdx
  docs/docs/react/components/When.mdx
  packages/react/src/components/SwitchCase/index.tsx
Labels: documentation

#105 chore: git workflow document build 조건식 제거
  .github/workflows/pull-request.yml
Labels: workflows

#109 docs: When 컴포넌트 문서 수정
  .changeset/seven-pants-eat.md
  .eslintrc.cjs
  docs/docs/react/components/When.mdx
Labels: documentation

#111 feat(react): useFileReader 추가
  .changeset/curly-seahorses-sit.md
  docs/docs/react/hooks/useFileReader.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useFileReader/index.ts
  packages/react/src/hooks/useFileReader/useFileReader.spec.ts
  packages/react/src/utils/test/mockFile.ts
Labels: feature

#112 test: modern-kit refactoring & test coverage 증가
  .changeset/heavy-rivers-laugh.md
  packages/react/src/hooks/useImageStatus/useImageStatus.spec.tsx
  packages/react/src/hooks/useIntersectionObserver/index.ts
  packages/react/src/hooks/useMediaQuery/index.ts
  packages/react/src/hooks/useMediaQuery/useMediaQuery.spec.ts
  packages/react/src/hooks/useOnClickOutside/useOnClickOutside.spec.tsx
  packages/react/src/hooks/useToggle/useToggle.spec.tsx
  packages/react/src/hooks/useVisibilityChange/index.ts
  packages/react/src/hooks/useVisibilityChange/useVisibilityChange.spec.ts
  packages/react/vitest.config.ts
Labels: refactor, @modern-kit/react

#114 feat(utils): Add formatNumberCurrency, formatNumberByUnits
  .changeset/sour-rice-stare.md
  docs/docs/utils/formatter/formatNumberByUnits.md
  docs/docs/utils/formatter/formatNumberCurrency.md
  docs/docs/utils/formatter/formatNumberWithCommas.md
  docs/docs/utils/formatter/formatPhoneNumber.md
  packages/utils/src/formatter/formatNumberByUnits/formatNumberByUnits.spec.ts
  packages/utils/src/formatter/formatNumberByUnits/index.ts
  packages/utils/src/formatter/formatNumberCurrency/formatNumberCurrency.spec.ts
  packages/utils/src/formatter/formatNumberCurrency/index.ts
  packages/utils/src/formatter/formatNumberWithCommas/formatNumberWithCommas.spec.ts
  packages/utils/src/formatter/formatNumberWithCommas/index.ts
  packages/utils/src/formatter/formatPhoneNumber/formatPhoneNumber.spec.ts
  packages/utils/src/formatter/formatPhoneNumber/index.ts
  packages/utils/src/formatter/index.ts
  packages/utils/src/index.ts
  packages/utils/src/string/index.ts
Labels: feature, @modern-kit/utils

#115 feat(utils): parseJson 함수 추가 완료
  docs/docs/utils/common/parseJson.md
  packages/utils/src/common/parseJson/index.ts
  packages/utils/src/common/parseJson/parseJson.spec.ts
Labels: feature, @modern-kit/utils

#116 chore: changeset
  .changeset/sweet-kids-accept.md
  packages/utils/src/common/index.ts
Labels: @modern-kit/utils

#118 fix: deleteEmptyProperties 개선
  .changeset/sour-hats-smash.md
  docs/docs/utils/object/deleteEmptyProperties.md
  docs/docs/utils/validator/isArray.md
  packages/utils/src/object/deleteFalsyProperties/deleteFalsyProperties.spec.ts
  packages/utils/src/object/deleteFalsyProperties/index.ts
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isArray/index.ts
  packages/utils/src/validator/isArray/isArray.spec.ts
Labels: feature, @modern-kit/utils

#120 fix: mergeProperties 테스트 커버리지 개선, useAsyncProcessQueue 테스트 코드 추가
  .changeset/rude-ligers-punch.md
  packages/react/src/hooks/useAsyncProcessQueue/index.ts
  packages/react/src/hooks/useAsyncProcessQueue/useAsyncProcessQueue.spec.ts
  packages/utils/src/common/deepEqual/deepEqual.spec.ts
  packages/utils/src/object/mergeProperties/mergeProperties.spec.ts
  packages/utils/src/object/omit/index.ts
  packages/utils/src/object/pick/index.ts
Labels: @modern-kit/react, @modern-kit/utils, test

#121 feat(utils): clipboard 유틸 함수 추가 (clipboardFallbackTextCopy, clipboardTextCopy, clipboardImageCopy)
  .changeset/wicked-needles-cheat.md
  docs/docs/utils/clipboard/clipboardFallbackTextCopy.md
  docs/docs/utils/clipboard/clipboardImageCopy.md
  docs/docs/utils/clipboard/clipboardTextCopy.md
  packages/utils/src/clipboard/clipboardFallbackTextCopy/index.ts
  packages/utils/src/clipboard/clipboardImageCopy/index.ts
  packages/utils/src/clipboard/clipboardTextCopy/index.ts
  packages/utils/src/clipboard/index.ts
  packages/utils/src/index.ts
  packages/utils/src/storage/index.ts
  packages/utils/vitest.config.ts
Labels: documentation, feature, @modern-kit/utils

#127 feat(utils): MIME 관련 유틸 함수 추가
  .changeset/cool-buses-yell.md
  docs/docs/utils/file/getBlobFromUrl.md
  docs/docs/utils/file/getMIMEType.md
  docs/docs/utils/file/getMIMETypeFromFile.md
  docs/docs/utils/file/getMIMETypeFromResponse.md
  docs/docs/utils/file/getMIMETypeFromUrl.md
  docs/docs/utils/validator/isMIMEType.md
  docs/docs/utils/validator/isString.md
  packages/utils/src/file/constants.ts
  packages/utils/src/file/getBlobFromUrl/index.ts
  packages/utils/src/file/getMIMEType/index.ts
  packages/utils/src/file/getMIMETypeFromFile/getMIMETypeFromFile.spec.ts
  packages/utils/src/file/getMIMETypeFromFile/index.ts
  packages/utils/src/file/getMIMETypeFromResponse/index.ts
  packages/utils/src/file/getMIMETypeFromUrl/index.ts
  packages/utils/src/file/index.ts
  packages/utils/src/index.ts
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isMIMEType/index.ts
  packages/utils/src/validator/isMIMEType/isMIMEType.spec.ts
  packages/utils/src/validator/isString/index.ts
  packages/utils/src/validator/isString/isString.spec.ts
  packages/utils/vitest.config.ts
Labels: documentation, feature, @modern-kit/utils

#128 fix(utils): isMIMEType 개선
  docs/docs/utils/file/getMIMETypeFromFile.md
  docs/docs/utils/validator/isMIMEType.md
  packages/utils/src/validator/isMIMEType/index.ts
  packages/utils/src/validator/isMIMEType/isMIMEType.spec.ts
Labels: feature, @modern-kit/utils, test

#129 feat(utils): converImageToBase64 함수 추가
  .changeset/swift-papayas-march.md
  docs/docs/utils/clipboard/clipboardImageCopy.md
  docs/docs/utils/file/convertImageToBase64.md
  docs/docs/utils/file/getMIMETypeFromResponse.md
  packages/utils/src/clipboard/clipboardImageCopy/index.ts
  packages/utils/src/file/convertImageToBase64/index.ts
  packages/utils/src/file/getMIMEType/index.ts
  packages/utils/src/file/getMIMETypeFromResponse/index.ts
  packages/utils/src/file/index.ts
Labels: documentation, feature, @modern-kit/utils

#131 test(utils): getMIMETypeFromResponse 테스트 코드 추가
  packages/utils/src/file/getMIMETypeFromFile/getMIMETypeFromFile.spec.ts
  packages/utils/src/file/getMIMETypeFromFile/index.ts
  packages/utils/src/file/getMIMETypeFromResponse/getMIMETypeFromResponse.spec.ts
  packages/utils/src/file/getMIMETypeFromResponse/index.ts
Labels: @modern-kit/utils, test

#132 fix(utils): clipboard 관련 함수들 반환 값 추가
  docs/docs/utils/clipboard/clipboardFallbackTextCopy.md
  docs/docs/utils/clipboard/clipboardImageCopy.md
  docs/docs/utils/clipboard/clipboardTextCopy.md
  packages/utils/src/clipboard/clipboardFallbackTextCopy/index.ts
  packages/utils/src/clipboard/clipboardImageCopy/index.ts
  packages/utils/src/clipboard/clipboardTextCopy/index.ts
Labels: feature, @modern-kit/utils

#133 test(react): useWindowScrollTo 테스트 코드 추가
  .changeset/beige-pears-boil.md
  codecov.yml
  docs/docs/react/hooks/useWindowSize.mdx
  packages/react/src/hooks/useImageStatus/useImageStatus.spec.tsx
  packages/react/src/hooks/useWindowScrollTo/index.ts
  packages/react/src/hooks/useWindowScrollTo/useWindowScrollTo.spec.ts
  packages/react/src/hooks/useWindowSize/index.ts
Labels: @modern-kit/react, test

#134 feat(react): useClipboard 커스텀 훅 추가
  .changeset/afraid-otters-cover.md
  docs/assets/react.png
  docs/docs/react/hooks/useClipboard.mdx
  docs/docs/utils/clipboard/clipboardImageCopy.md
  docs/docs/utils/clipboard/clipboardTextCopy.md
  docs/docs/utils/file/getBlobFromUrl.md
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useClipboard/index.ts
  packages/react/vitest.config.ts
  packages/utils/src/clipboard/clipboardFallbackTextCopy/index.ts
  packages/utils/src/clipboard/clipboardImageCopy/index.ts
  packages/utils/src/clipboard/clipboardTextCopy/index.ts
  packages/utils/src/file/convertImageToBase64/index.ts
  packages/utils/src/file/getBlobFromUrl/index.ts
Labels: documentation, feature, @modern-kit/react

#142 feat(react): useKeyDown 커스텀 훅 추가
  .changeset/rich-hairs-push.md
  docs/docs/react/hooks/useKeyDown.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useKeydown/index.ts
  packages/react/src/hooks/useKeydown/useKeydown.spec.tsx
Labels: documentation, feature, @modern-kit/react

#144 fix(react): KeyDownCallbackMap 타입 추가
  docs/docs/react/hooks/useKeyDown.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useKeyDown/index.ts
  packages/react/src/hooks/useKeyDown/keyDownCallbackMap.ts
  packages/react/src/hooks/useKeyDown/useKeydown.spec.tsx
Labels: feature, @modern-kit/react

#151 fix(utils): deepCopy 순환참조 대응 및 Date, Regex 테스트 코드 추가
  .changeset/happy-days-rescue.md
  docs/docs/utils/common/deepCopy.md
  packages/utils/src/common/deepCopy/deepCopy.spec.ts
  packages/utils/src/common/deepCopy/index.ts
Labels: @modern-kit/utils, test, fix

#154 feat(react): useDocumentTitle 커스텀 훅 추가
  .changeset/tall-steaks-melt.md
  docs/docs/react/hooks/useDoumentTitle.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useDocumentTitle/index.ts
  packages/react/src/hooks/useDocumentTitle/useDoucmentTitle.spec.ts
Labels: documentation, feature, @modern-kit/react

#159 feat(utils): countOccurrencesInArray 유틸 함수 추가
  .changeset/blue-jeans-film.md
  docs/docs/utils/array/countOccurrencesInArray.md
  docs/docs/utils/validator/isArray.md
  packages/utils/src/array/countOccurrencesInArray/countOccurrencesInArray.spec.ts
  packages/utils/src/array/countOccurrencesInArray/index.ts
  packages/utils/src/array/index.ts
  packages/utils/src/index.ts
  packages/utils/src/validator/isArray/index.ts
  packages/utils/src/validator/isArray/isArray.spec.ts
Labels: documentation, feature, @modern-kit/utils, fix

#161 fix(utils): clipboard 관련 함수 네이밍 변경
  .changeset/forty-bottles-drum.md
  docs/docs/utils/clipboard/copyClipboardImage.md
  docs/docs/utils/clipboard/copyClipboardText.md
  docs/docs/utils/clipboard/copyFallbackClipboardText.md
  packages/react/src/hooks/useClipboard/index.ts
  packages/utils/src/clipboard/copyClipboardImage/index.ts
  packages/utils/src/clipboard/copyClipboardText/index.ts
  packages/utils/src/clipboard/copyFallbackClipboardText/index.ts
  packages/utils/src/clipboard/index.ts
Labels: documentation, refactor, @modern-kit/utils, fix

#164 feat(utils): NaN 검증 추가 및 Set 테스트 추가
  packages/utils/src/common/deepEqual/deepEqual.spec.ts
  packages/utils/src/common/deepEqual/index.ts
Labels: @modern-kit/utils, test, fix

#165 feat(utils): delay 인자 음수, NaN 검증 추가
  .changeset/slimy-coats-obey.md
  packages/utils/src/common/delay/delay.spec.ts
  packages/utils/src/common/delay/index.ts
Labels: @modern-kit/utils, test, fix

#166 test(utils): isFunction 테스트 추가
  packages/utils/src/validator/isFunction/isFunction.spec.ts
Labels: @modern-kit/utils, test

#163 feat(react): OutsideClick 컴포넌트 구현
  docs/docs/react/components/OutsideClick.mdx
  packages/react/src/components/OutsideClick/OutsideClick.spec.tsx
  packages/react/src/components/OutsideClick/index.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/useOnClickOutside/index.ts
Labels: feature, @modern-kit/react

#167 feat(react): useHover 훅 추가 완료
  .changeset/pink-tips-drive.md
  docs/docs/react/hooks/useHover.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useHover/index.ts
  packages/react/src/hooks/useHover/useHover.spec.tsx
Labels: feature, @modern-kit/react, test

#168 fix(utils): 특수 문자에 대한 개수와 공백에 대한 처리 추가
  docs/docs/utils/string/countSubstringOccurrences.md
  packages/utils/src/string/countSubstringOccurrences/countSubstringOccurrences.spec.ts
  packages/utils/src/string/countSubstringOccurrences/index.ts
Labels: @modern-kit/utils, test, fix

#172 feat(utils): rem 신규 유틸 함수 추가
  .changeset/stale-mangos-suffer.md
  docs/docs/utils/style/rem.md
  docs/docs/utils/validator/hasProperty.md
  packages/react/src/hooks/useHover/useHover.spec.tsx
  packages/utils/src/index.ts
  packages/utils/src/style/index.ts
  packages/utils/src/style/rem/index.ts
  packages/utils/src/style/rem/rem.spec.ts
Labels: documentation, feature, @modern-kit/utils

#173 fix(react): useInterval enabled 속성 추가
  .changeset/olive-flies-hope.md
  docs/docs/react/hooks/useInterval.mdx
  packages/react/src/hooks/useInterval/index.ts
  packages/react/src/hooks/useInterval/useInterval.spec.tsx
Labels: documentation, feature, @modern-kit/react

#177 feat(utils): rem cache 처리
  docs/docs/utils/style/rem.md
  packages/utils/src/style/rem/index.ts
  packages/utils/src/style/rem/rem.spec.ts
Labels: feature, @modern-kit/utils

#182 feat(utils): excludeElements
  docs/docs/utils/array/excludeElements.md
  packages/utils/src/array/excludeElements/excludeElements.spec.ts
  packages/utils/src/array/excludeElements/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils

#183 feat: coauthor 함수 추가
  .eslintrc.cjs
  package.json
  scripts/coauthor.js
Labels: feature

#184 feat(utils): chunk 유틸 함수 구현
  .changeset/loud-zebras-shave.md
  docs/docs/utils/array/chunk.md
  packages/types/src/Integer/index.ts
  packages/types/src/NaturalNumber/index.ts
  packages/types/src/WholeNumber/index.ts
  packages/types/src/index.ts
  packages/utils/src/array/chunk/chunk.spec.ts
  packages/utils/src/array/chunk/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils
