Repository modern-agile-team/modern-kit, pull requests merged in 2024-12, with the labels that each got.

#603 feat(utils): clamp 추가
  .changeset/mighty-kings-approve.md
  docs/docs/utils/math/clamp.md
  packages/utils/src/math/clamp/clamp.bench.ts
  packages/utils/src/math/clamp/clamp.spec.ts
  packages/utils/src/math/clamp/index.ts
  packages/utils/src/math/index.ts
Labels: feature, @modern-kit/react

#616 chore: rollup 빌드 설정 수정
  .pnp.cjs
  .yarn/cache/@rollup-plugin-terser-npm-0.4.4-c6896dd264-b9cb6c8f02.zip
  .yarn/cache/autoprefixer-npm-10.4.20-dd5fd05d27-e1f00978a2.zip
  .yarn/cache/smob-npm-1.4.0-2bf978343e-b74e1fb724.zip
  .yarn/cache/terser-npm-5.19.2-91391d2f00-95817b8661.zip
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/utils/package.json
  packages/utils/rollup.config.mjs
  yarn.lock
Labels: dependencies, @modern-kit/react

#623 feat(react): OutsidePointerDownHandler 다형성 및 컴포넌트 합성 기능 추가
  .changeset/seven-bags-sort.md
  docs/docs/react/components/AspectRatio.mdx
  docs/docs/react/components/DebounceHandler.mdx
  docs/docs/react/components/InView.mdx
  docs/docs/react/components/OutsideClick.mdx
  docs/docs/react/components/OutsidePointerDownHandler.mdx
  packages/react/src/components/AspectRatio/index.tsx
  packages/react/src/components/DebounceHandler/DebounceHandler.spec.tsx
  packages/react/src/components/DebounceHandler/index.tsx
  packages/react/src/components/InView/index.tsx
  packages/react/src/components/OutsideClick/OutsideClick.spec.tsx
  packages/react/src/components/OutsideClick/index.tsx
  packages/react/src/components/OutsidePointerDownHandler/OutsidePointerDown.spec.tsx
  packages/react/src/components/OutsidePointerDownHandler/index.tsx
  packages/react/src/components/index.ts
Labels: feature, @modern-kit/react

#624 docs: 주석 수정
  docs/docs/react/components/AspectRatio.mdx
  docs/docs/react/components/InView.mdx
  docs/docs/react/components/OutsidePointerDownHandler.mdx
  docs/docs/react/components/Slot.mdx
  packages/react/src/components/AspectRatio/index.tsx
  packages/react/src/components/InView/index.tsx
  packages/react/src/components/OutsidePointerDownHandler/index.tsx
Labels: documentation, @modern-kit/react

#615 feat(react): useDependencyTimeout 구현
  .changeset/polite-bulldogs-peel.md
  docs/docs/react/hooks/useDependencyTimeout.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useDependencyTimeout/index.ts
  packages/react/src/hooks/useDependencyTimeout/useDependencyTimeout.spec.tsx
  packages/react/src/hooks/useTimeout/useTimeout.spec.tsx
Labels: feature, @modern-kit/react

#626 fix(react): 불 필요한 useAsyncPreservedCallback 제거 및 usePreservedCallback 문서 개선
  .changeset/warm-cougars-sin.md
  docs/docs/react/hooks/useAsyncPreservedCallback.mdx
  docs/docs/react/hooks/usePreservedCallback.mdx
  packages/react/package.json
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useAsyncPreservedCallback/index.ts
  packages/react/src/hooks/useAsyncPreservedCallback/useAsyncPreservedCallback.spec.ts
  packages/react/src/hooks/usePreservedCallback/index.ts
  packages/react/src/hooks/usePreservedCallback/usePreservedCallback.spec.ts
  yarn.lock
Labels: documentation, @modern-kit/react, fix

#627 feat(react): useAsyncEffect 신규 훅 추가
  .changeset/orange-gifts-poke.md
  docs/docs/react/hooks/useAsyncEffect.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useAsyncEffect/index.ts
  packages/react/src/hooks/useAsyncEffect/useAsyncEffect.spec.ts
  packages/react/src/hooks/useDependencyTimeout/index.ts
Labels: feature, @modern-kit/react

#635 feat(react): useOutsidePointerDown 훅 excludeRefs 신규 props 추가
  .changeset/stale-seals-pull.md
  docs/docs/react/components/OutsidePointerDownHandler.mdx
  docs/docs/react/hooks/useBlockMultipleAsyncCalls.mdx
  docs/docs/react/hooks/useEventListener.mdx
  docs/docs/react/hooks/useFileReader.mdx
  docs/docs/react/hooks/useKeyDown.mdx
  docs/docs/react/hooks/useOutsidePointerDown.mdx
  packages/react/src/components/OutsidePointerDownHandler/index.tsx
  packages/react/src/hooks/useBlockMultipleAsyncCalls/index.ts
  packages/react/src/hooks/useBlockMultipleAsyncCalls/useBlockMultipleAsyncCalls.spec.tsx
  packages/react/src/hooks/useEventListener/index.ts
  packages/react/src/hooks/useFileReader/index.ts
  packages/react/src/hooks/useFileReader/useFileReader.spec.ts
  packages/react/src/hooks/useFileReader/useFileReader.utils.ts
  packages/react/src/hooks/useInterval/index.ts
  packages/react/src/hooks/useKeyDown/index.ts
  packages/react/src/hooks/useLocalStorage/index.ts
  packages/react/src/hooks/useOutsidePointerDown/index.ts
  packages/react/src/hooks/useOutsidePointerDown/useOutsidePointerDown.spec.tsx
  packages/react/src/hooks/useSessionStorage/index.ts
  packages/react/src/hooks/useStepState/index.ts
  packages/react/src/hooks/useTimeout/index.ts
Labels: feature, @modern-kit/react

#640 fix: objectKeys/Values/Entries 타입 수정 및 문서/ ts-doc 개선
  .changeset/shiny-insects-lay.md
  docs/docs/utils/object/objectEntries.md
  docs/docs/utils/object/objectKeys.md
  docs/docs/utils/object/objectValues.md
  packages/types/src/ObjectEntries/index.ts
  packages/types/src/ObjectKeys/index.ts
  packages/utils/package.json
  packages/utils/src/object/objectEntries/index.ts
  packages/utils/src/object/objectEntries/objectEntries.spec.ts
  packages/utils/src/object/objectKeys/index.ts
  packages/utils/src/object/objectKeys/objectKeys.spec.ts
  packages/utils/src/object/objectValues/index.ts
  packages/utils/src/object/objectValues/objectValues.spec.ts
  yarn.lock
Labels: @modern-kit/react, fix

#645 feat(types): Merge, Invert, NegativeNumber 타입 추가
  .changeset/clever-points-tap.md
  packages/types/src/ExtendOmittedProperties/ExtendOmittedProperties.spec.ts
  packages/types/src/ExtendOmittedProperties/index.ts
  packages/types/src/ExtractMapType/ExtractMapType.spec.ts
  packages/types/src/ExtractNestedArrayType/ExtractNestedArrayType.spec.ts
  packages/types/src/Integer/Integer.spec.ts
  packages/types/src/Integer/index.ts
  packages/types/src/Invert/Invert.spec.ts
  packages/types/src/Invert/index.ts
  packages/types/src/Merge/Merge.spec.ts
  packages/types/src/Merge/index.ts
  packages/types/src/NaturalNumber/NaturalNumber.spec.ts
  packages/types/src/NaturalNumber/index.ts
  packages/types/src/NegativeNumber/NegativeNumber.spec.ts
  packages/types/src/NegativeNumber/index.ts
  packages/types/src/index.ts
  packages/utils/src/common/asyncNoop/asyncNoop.spec.ts
Labels: @modern-kit/types

#647 feat(types): DistributiveOmit 타입 추가
  .changeset/young-garlics-smile.md
  packages/types/src/ArrayWithReadonly/index.ts
  packages/types/src/DistributiveOmit/DistributiveOmit.spec.ts
  packages/types/src/DistributiveOmit/index.ts
  packages/types/src/ExtractMapType/index.ts
  packages/types/src/ExtractSetType/ExtractSetType.spec.ts
  packages/types/src/ExtractSetType/index.ts
  packages/types/src/NegativeNumber/index.ts
  packages/types/src/ReadonlyArray/index.ts
  packages/types/src/WholeNumber/index.ts
  packages/types/src/index.ts
Labels: @modern-kit/types

#650 feat(utils): isDate, getDDay 함수 추가
  .changeset/moody-taxis-smash.md
  .changeset/ten-keys-accept.md
  .pnp.cjs
  docs/docs/utils/date/getDDay.md
  docs/docs/utils/validator/isDate.md
  packages/react/package.json
  packages/react/src/_internal/test/mockIntersectionObserver.ts
  packages/react/src/components/Portal/Portal.spec.tsx
  packages/react/src/components/Portal/index.tsx
  packages/react/src/hooks/useAsyncProcessQueue/index.ts
  packages/react/src/hooks/useFileReader/useFileReader.utils.ts
  packages/react/src/hooks/useIntersectionObserver/index.ts
  packages/react/src/hooks/useMergeRefs/useMergeRefs.spec.tsx
  packages/react/src/hooks/useScrollLock/index.ts
  packages/utils/package.json
  packages/utils/src/array/flatMapDeep/index.ts
  packages/utils/src/array/flattenDeep/index.ts
  packages/utils/src/array/flattenDeepThenMap/index.ts
  packages/utils/src/date/getDDay/getDDay.spec.ts
  packages/utils/src/date/getDDay/index.ts
  packages/utils/src/date/index.ts
  packages/utils/src/index.ts
  packages/utils/src/object/objectEntries/index.ts
  packages/utils/src/object/objectKeys/index.ts
  packages/utils/src/object/objectValues/index.ts
  packages/utils/src/storage/getStorageItem/index.ts
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isDate/index.ts
  packages/utils/src/validator/isDate/isDate.spec.ts
  packages/utils/src/validator/isPrimitive/index.ts
  packages/utils/src/validator/isPrimitive/isPrimitive.spec.ts
  packages/utils/src/validator/isReference/index.ts
  yarn.lock
Labels: feature, @modern-kit/utils
