Repository modern-agile-team/modern-kit, pull requests merged in 2024-10, with the labels that each got.

#489 feat(react): useColorScheme 신규 훅 추가
  .changeset/hip-bats-sneeze.md
  docs/docs/react/hooks/useAsyncPreservedCallback.mdx
  docs/docs/react/hooks/useBlockPromiseMultipleClick.mdx
  docs/docs/react/hooks/useColorScheme.mdx
  docs/docs/react/hooks/useEventListener.mdx
  docs/docs/react/hooks/usePreferredColorScheme.mdx
  docs/docs/utils/validator/isNumericString.md
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useColorScheme/index.ts
  packages/react/src/hooks/useColorScheme/useColorScheme.spec.ts
  packages/react/src/hooks/useEventListener/useEventListener.utils.ts
  packages/react/src/hooks/useIntersectionObserver/index.ts
  packages/utils/src/array/contains/index.ts
  packages/utils/src/array/difference/index.ts
  packages/utils/src/validator/isNumericString/index.ts
  packages/utils/src/validator/isNumericString/isNumericString.spec.ts
Labels: feature, @modern-kit/react

#497 feat(react): useToggleState 훅 추가
  .changeset/fuzzy-countries-compare.md
  docs/docs/react/hooks/useToggleState.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useToggle/index.ts
  packages/react/src/hooks/useToggleState/index.ts
  packages/react/src/hooks/useToggleState/useToggleState.spec.ts
Labels: feature, @modern-kit/react

#498 feat(utils): at 신규 함수 추가
  .changeset/tiny-tomatoes-deliver.md
  docs/docs/utils/array/at.md
  packages/utils/src/array/at/at.bench.ts
  packages/utils/src/array/at/at.spec.ts
  packages/utils/src/array/at/index.ts
  packages/utils/src/array/index.ts
Labels: feature, @modern-kit/utils

#499 fix(react): useUserAgent 개선
  .changeset/curly-pants-notice.md
  docs/docs/react/hooks/useUserAgent.mdx
  packages/react/src/hooks/useUserAgent/index.ts
  packages/react/src/hooks/useUserAgent/useUserAgent.spec.ts
Labels: feature, @modern-kit/react

#501 fix(react): useUserAgent, useHover 수정
  .changeset/old-experts-begin.md
  packages/react/src/hooks/useHover/index.ts
  packages/react/src/hooks/useUserAgent/index.ts
  packages/react/src/hooks/useUserAgent/useUserAgent.spec.ts
Labels: @modern-kit/react, fix

#500 feat(utils): xor 유틸 함수 추가
  .changeset/ten-taxis-camp.md
  docs/docs/utils/array/xor.md
  packages/react/src/hooks/useHover/index.ts
  packages/utils/src/array/index.ts
  packages/utils/src/array/xor/index.ts
  packages/utils/src/array/xor/xor.spec.ts
Labels: feature, @modern-kit/utils

#510 feat(react): useFocus 신규 훅 추가
  .changeset/heavy-onions-allow.md
  docs/docs/react/hooks/useFocus.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useFocus/index.ts
  packages/react/src/hooks/useFocus/useFocus.spec.tsx
Labels: feature, @modern-kit/react

#512 Fix/utils
  .changeset/great-coins-lie.md
  .changeset/tasty-crabs-work.md
  .changeset/ten-bulldogs-float.md
  docs/docs/utils/array/contains.md
  docs/docs/utils/array/excludeElements.md
  docs/docs/utils/common/cloneDeep.md
  docs/docs/utils/common/deepCopy.md
  docs/docs/utils/object/omit.md
  docs/docs/utils/object/pick.md
  packages/utils/src/array/contains/index.ts
  packages/utils/src/array/excludeElements/index.ts
  packages/utils/src/array/flattenDeep/flattenDeep.spec.ts
  packages/utils/src/common/cloneDeep/cloneDeep.bench.ts
  packages/utils/src/common/cloneDeep/cloneDeep.spec.ts
  packages/utils/src/common/cloneDeep/index.ts
  packages/utils/src/common/getUniqId/getUniqId.spec.ts
  packages/utils/src/common/getUniqId/index.ts
  packages/utils/src/common/getUniqTime/index.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/wrapInArray/index.ts
  packages/utils/src/common/wrapInArray/wrapInArray.spec.ts
  packages/utils/src/object/omit/index.ts
  packages/utils/src/object/omit/omit.bench.ts
  packages/utils/src/object/omit/omit.spec.ts
  packages/utils/src/object/pick/index.ts
  packages/utils/src/object/pick/pick.bench.ts
  packages/utils/src/object/pick/pick.spec.ts
  packages/utils/src/validator/isArray/index.ts
Labels: feature, @modern-kit/utils, fix

#507 feat(utils): findKey 함수 추가
  .changeset/itchy-papayas-reply.md
  docs/docs/utils/object/findKey.md
  packages/utils/src/object/findKey/findKey.bench.ts
  packages/utils/src/object/findKey/findKey.spec.ts
  packages/utils/src/object/findKey/index.ts
  packages/utils/src/object/index.ts
Labels: feature, @modern-kit/utils

#514 feat(utils): findLastKey 함수 추가
  .changeset/nasty-suns-trade.md
  docs/docs/utils/object/findLastKey.md
  packages/utils/src/object/findLastKey/findLastKey.bench.ts
  packages/utils/src/object/findLastKey/findLastKey.spec.ts
  packages/utils/src/object/findLastKey/index.ts
  packages/utils/src/object/index.ts
Labels: feature, @modern-kit/utils

#521 feat(utils): formatSizeStyleValue 함수 추가
  .changeset/friendly-dolls-hide.md
  docs/docs/utils/style/formatSizeStyleValue.md
  packages/utils/src/style/formatSizeStyleValue/formatSizeStyleValue.spec.ts
  packages/utils/src/style/formatSizeStyleValue/index.ts
  packages/utils/src/style/index.ts
Labels: feature, @modern-kit/utils

#522 feat(react): useKeyDown 및 useResizeObserver 로직 개선
  .changeset/kind-mirrors-dance.md
  docs/docs/react/hooks/useKeyDown.mdx
  packages/react/src/hooks/useHover/index.ts
  packages/react/src/hooks/useKeyDown/index.ts
  packages/react/src/hooks/useKeyDown/useKeyDown.utils.ts
  packages/react/src/hooks/useKeyDown/useKeydown.spec.tsx
  packages/react/src/hooks/useResizeObserver/index.ts
Labels: feature, @modern-kit/react, fix

#529 refac: useStep 리팩토링 및 ts-doc 추가 및 useCycleList 개선
  .changeset/blue-donkeys-camp.md
  .changeset/fluffy-pets-double.md
  docs/docs/react/hooks/useCycleList.mdx
  packages/react/src/hooks/useCycleList/index.ts
  packages/react/src/hooks/useCycleList/useCycleList.spec.ts
  packages/react/src/hooks/useStep/index.ts
  packages/utils/src/validator/isPlainObject/index.ts
  packages/utils/src/validator/isPlainObject/isPlainObject.spec.ts
Labels: feature, refactor, @modern-kit/react

#531 feat(utils): merge 함수 추가 및 mergeProperties deprecate
  .changeset/short-cows-taste.md
  README.md
  docs/docs/utils/object/merge.md
  docs/docs/utils/object/mergeProperties.md
  packages/utils/src/object/index.ts
  packages/utils/src/object/merge/index.ts
  packages/utils/src/object/merge/merge.spec.ts
  packages/utils/src/object/mergeProperties/index.ts
  packages/utils/src/object/mergeProperties/mergeProperties.spec.ts
Labels: feature, @modern-kit/react

#533 chore: vitest version up
  .pnp.cjs
  .yarn/cache/@babel-helper-string-parser-npm-7.25.9-eade578078-7244b45d8e.zip
  .yarn/cache/@babel-helper-validator-identifier-npm-7.25.9-2634b947a4-4fc6f83017.zip
  .yarn/cache/@babel-parser-npm-7.25.9-be61e8b0f2-143faff8a7.zip
  .yarn/cache/@babel-types-npm-7.25.9-4668b27465-33890d08bc.zip
  .yarn/cache/@jridgewell-sourcemap-codec-npm-1.5.0-dfd9126d71-2eb864f276.zip
  .yarn/cache/@vitest-coverage-istanbul-npm-2.1.3-aedc48763b-6b21eb219f.zip
  .yarn/cache/@vitest-expect-npm-2.1.3-2e3e72b8f3-0837adcbb9.zip
  .yarn/cache/@vitest-mocker-npm-2.1.3-6ecf02994b-03c80628d0.zip
  .yarn/cache/@vitest-pretty-format-npm-2.1.3-ea36ba97d6-5a6ee872a8.zip
  .yarn/cache/@vitest-runner-npm-2.1.3-56ad7d7ac6-d5b0776432.zip
  .yarn/cache/@vitest-snapshot-npm-2.1.3-e323360230-a3dcea6a5f.zip
  .yarn/cache/@vitest-spy-npm-2.1.3-3d02a7207d-8d85a5c284.zip
  .yarn/cache/@vitest-utils-npm-2.1.3-05f856cffa-55a044e43b.zip
  .yarn/cache/assertion-error-npm-2.0.1-8169d136f2-bbbcb117ac.zip
  .yarn/cache/chai-npm-5.1.2-6b92587dbf-6c04ff8495.zip
  .yarn/cache/check-error-npm-2.1.1-34e4ef357e-979f13ecca.zip
  .yarn/cache/debug-npm-4.3.7-385645adf9-1471db19c3.zip
  .yarn/cache/deep-eql-npm-5.0.2-3bce58289f-7102cf3b7b.zip
  .yarn/cache/glob-npm-10.4.5-8c63175f05-19a9759ea7.zip
  .yarn/cache/istanbul-lib-instrument-npm-6.0.3-959dca7404-a1894e060d.zip
  .yarn/cache/istanbul-lib-source-maps-npm-5.0.6-e18ad1aaae-ffe75d70b3.zip
  .yarn/cache/jackspeak-npm-3.4.3-546bfad080-6acc10d139.zip
  .yarn/cache/loupe-npm-3.1.2-58c9dbcc10-b13c02e3dd.zip
  .yarn/cache/lru-cache-npm-10.4.3-30c10b861a-ebd04fbca9.zip
  .yarn/cache/magic-string-npm-0.30.12-31dd992ec2-469f457d18.zip
  .yarn/cache/magicast-npm-0.3.5-75436eaa69-a6cacc0a84.zip
  .yarn/cache/minipass-npm-7.1.2-3a5327d36d-b0fd20bb9f.zip
  .yarn/cache/package-json-from-dist-npm-1.0.1-4631a88465-62ba2785eb.zip
  .yarn/cache/path-scurry-npm-1.11.1-aaf8c339af-32a13711a2.zip
  .yarn/cache/pathval-npm-2.0.0-e9fc9a6282-602e4ee347.zip
  .yarn/cache/test-exclude-npm-7.0.1-e6cf81110b-6d67b9af43.zip
  .yarn/cache/tinybench-npm-2.9.0-2861a048db-c3500b0f60.zip
  .yarn/cache/tinyexec-npm-0.3.1-13938c6dae-11e7a7c5d8.zip
  .yarn/cache/tinypool-npm-1.0.1-d26e93a818-90939d6a03.zip
  .yarn/cache/tinyrainbow-npm-1.2.0-456cccee06-7f78a4b997.zip
  .yarn/cache/tinyspy-npm-3.0.2-4f17593a18-55ffad24e3.zip
  .yarn/cache/vite-node-npm-2.1.3-05c74c7cd9-1b06139880.zip
  .yarn/cache/vitest-npm-2.1.3-00696dae0f-7688fdce37.zip
  .yarn/cache/why-is-node-running-npm-2.3.0-011cf61a18-1cde0b01b8.zip
  packages/react/package.json
  packages/react/src/hooks/useToggle/index.ts
  packages/react/vitest.config.ts
  yarn.lock
Labels: dependencies, @modern-kit/react

#540 test: vitest issue 해결
  packages/utils/src/validator/isEqual/isEqual.spec.ts
  packages/utils/vitest.config.ts
Labels: test

#538 ClientGate 컴포넌트 추가
  .changeset/yellow-carpets-bow.md
  docs/docs/react/components/ClientGate.mdx
  docs/docs/react/components/Mounted.mdx
  packages/react/src/components/ClientGate/ClientGate.spec.tsx
  packages/react/src/components/ClientGate/index.tsx
  packages/react/src/components/Mounted/Mounted.spec.tsx
  packages/react/src/components/Mounted/index.tsx
  packages/react/src/components/index.ts
  packages/types/src/NonEmptyArray/index.ts
  packages/types/src/index.ts
Labels: feature, @modern-kit/react

#551 fix(react): useIntersectionObserver 기능 개선
  .changeset/eight-yaks-attend.md
  docs/docs/react/hooks/useIntersectionObserver.mdx
  packages/react/src/hooks/useIntersectionObserver/index.ts
Labels: @modern-kit/react, fix

#552 feat(react): Slot 컴포넌트 추가
  .changeset/dull-insects-hug.md
  docs/docs/react/components/Slot.mdx
  packages/react/src/components/Slot/Slot.spec.tsx
  packages/react/src/components/Slot/Slot.utils.ts
  packages/react/src/components/Slot/index.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/useMergeRefs/index.ts
Labels: feature, @modern-kit/react

#554 fix(utils): isInRange, range 로직 개선 및 한글화
  .changeset/brown-ants-pretend.md
  docs/docs/utils/validator/isInRange.md
  packages/utils/src/math/range/index.ts
  packages/utils/src/math/range/range.spec.ts
  packages/utils/src/validator/isInRange/index.ts
  packages/utils/src/validator/isInRange/isInRange.bench.ts
  packages/utils/src/validator/isInRange/isInRange.spec.ts
Labels: @modern-kit/utils, fix
