Repository modern-agile-team/modern-kit, pull requests merged in 2025-02, with the labels that each got.

#718 feat(utils): isBlob 함수 추가
  .changeset/ninety-dolphins-decide.md
  docs/docs/utils/validator/isBlob.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isBlob/index.ts
  packages/utils/src/validator/isBlob/isBlob.spec.ts
  packages/utils/subPaths.mjs
Labels: feature, @modern-kit/utils

#746 feat(utils) random, randomInt 함수 추가
  .changeset/solid-things-tease.md
  docs/docs/utils/math/random.md
  docs/docs/utils/math/randomInt.md
  packages/utils/src/math/index.ts
  packages/utils/src/math/random/index.ts
  packages/utils/src/math/random/random.spec.ts
  packages/utils/src/math/randomInt/index.ts
  packages/utils/src/math/randomInt/randomInt.spec.ts
Labels: feature, @modern-kit/utils

#747 feat(utils) trimStart 함수 추가
  .changeset/clever-fans-design.md
  docs/docs/utils/string/trimStart.md
  packages/utils/src/string/index.ts
  packages/utils/src/string/trimStart/index.ts
  packages/utils/src/string/trimStart/trimStart.spec.ts
Labels: feature, @modern-kit/utils

#750 fix: formatNumberWithUnits space 옵션 제거 및 test 코드 한글화
  docs/docs/utils/formatter/formatNumberWithUnits.md
  packages/utils/src/common/size/index.ts
  packages/utils/src/common/size/size.spec.ts
  packages/utils/src/common/wrapInArray/wrapInArray.spec.ts
  packages/utils/src/file/getMIMETypeFromFile/getMIMETypeFromFile.spec.ts
  packages/utils/src/file/getMIMETypeFromResponse/getMIMETypeFromResponse.spec.ts
  packages/utils/src/formatter/formatNumberWithUnits/formatNumberWithUnits.spec.ts
  packages/utils/src/formatter/formatNumberWithUnits/formatNumberWithUnits.types.ts
  packages/utils/src/formatter/formatNumberWithUnits/formatNumberWithUnits.utils.ts
  packages/utils/src/formatter/formatNumberWithUnits/index.ts
  packages/utils/src/formatter/formatPhoneNumber/formatPhoneNumber.spec.ts
  packages/utils/src/math/average/average.spec.ts
  packages/utils/src/math/max/max.spec.ts
  packages/utils/src/math/min/min.spec.ts
  packages/utils/src/math/sum/sum.spec.ts
  packages/utils/src/validator/hasProperty/hasProperty.spec.ts
  packages/utils/src/validator/isArray/isArray.spec.ts
  packages/utils/src/validator/isBoolean/isBoolean.spec.ts
  packages/utils/src/validator/isEqual/isEqual.spec.ts
  packages/utils/src/validator/isFloat/isFloat.spec.ts
  packages/utils/src/validator/isMIMEType/isMIMEType.spec.ts
  packages/utils/src/validator/isNil/isNil.spec.ts
  packages/utils/src/validator/isNotNil/isNotNil.spec.ts
  packages/utils/src/validator/isNumber/isNumber.spec.ts
  packages/utils/src/validator/isNumericString/isNumericString.spec.ts
  packages/utils/src/validator/isPlainObject/isPlainObject.spec.ts
  packages/utils/src/validator/isPrimitive/isPrimitive.spec.ts
  packages/utils/src/validator/isReference/isReference.spec.ts
  packages/utils/src/validator/isString/isString.spec.ts
  packages/utils/src/validator/isSubset/isSubset.spec.ts
  packages/utils/src/validator/isValidPassword/isValidPassword.spec.ts
  packages/utils/src/validator/isWindow/isWindow.spec.ts
  packages/utils/vitest.config.ts
Labels: documentation, @modern-kit/utils

#751 feat(utils) trimEnd 함수 추가
  .changeset/strange-crews-wave.md
  docs/docs/utils/string/trimEnd.md
  packages/utils/src/string/index.ts
  packages/utils/src/string/trimEnd/index.ts
  packages/utils/src/string/trimEnd/trimEnd.spec.ts
Labels: feature, @modern-kit/utils

#753 fix: trimStart/End 로직 개선 및 밴치마크 추가
  docs/docs/utils/string/trimEnd.md
  docs/docs/utils/string/trimStart.md
  packages/utils/src/string/trimEnd/index.ts
  packages/utils/src/string/trimEnd/trimEnd.bench.ts
  packages/utils/src/string/trimEnd/trimEnd.spec.ts
  packages/utils/src/string/trimStart/index.ts
  packages/utils/src/string/trimStart/trimStart.bench.ts
  packages/utils/src/string/trimStart/trimStart.spec.ts
Labels: @modern-kit/utils, fix

#761 feat(utils): parseDate 유틸 함수 추가
  .changeset/cyan-animals-invite.md
  docs/docs/utils/date/getAge.md
  docs/docs/utils/date/getDDay.md
  docs/docs/utils/date/isAfterDate.md
  docs/docs/utils/date/isBeforeDate.md
  docs/docs/utils/date/isDateInRange.md
  docs/docs/utils/date/isUnderAge.md
  docs/docs/utils/date/parseDate.md
  packages/utils/src/date/getAge/index.ts
  packages/utils/src/date/getDDay/index.ts
  packages/utils/src/date/index.ts
  packages/utils/src/date/isAfterDate/index.ts
  packages/utils/src/date/isBeforeDate/index.ts
  packages/utils/src/date/isDateInRange/index.ts
  packages/utils/src/date/isDateInRange/isDateInRange.spec.ts
  packages/utils/src/date/parseDate/index.ts
  packages/utils/src/date/parseDate/parseDate.spec.ts
  packages/utils/vitest.config.ts
Labels: feature, @modern-kit/utils
