Repository modern-agile-team/modern-kit, pull requests merged in 2025-03, with the labels that each got.

#762 feat(utils): trim 신규 유틸 함수 추가
  .changeset/rare-showers-camp.md
  docs/docs/utils/string/trim.md
  docs/docs/utils/string/trimEnd.md
  docs/docs/utils/string/trimStart.md
  packages/utils/src/string/index.ts
  packages/utils/src/string/trim/index.ts
  packages/utils/src/string/trim/trim.bench.ts
  packages/utils/src/string/trim/trim.spec.ts
  packages/utils/src/string/trimEnd/index.ts
  packages/utils/src/string/trimStart/index.ts
Labels: feature, @modern-kit/utils

#764 feat(react): EventExtender 신규 컴포넌트 추가
  .changeset/silly-poems-grow.md
  docs/docs/react/components/EventExtender.mdx
  packages/react/src/components/EventExtender/EventExtender.spec.tsx
  packages/react/src/components/EventExtender/index.tsx
  packages/react/src/components/FallbackLazyImage/index.tsx
  packages/react/src/components/SwitchCase/SwitchCase.test.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/useMediaQuery/useMediaQuery.spec.ts
  packages/react/vitest.config.ts
Labels: feature, @modern-kit/react

#765 feat(utils) isSet 함수 추가
  .changeset/clear-cougars-clean.md
  docs/docs/utils/validator/isSet.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isSet/index.ts
  packages/utils/src/validator/isSet/isSet.spec.ts
Labels: feature, @modern-kit/utils

#770 fix: EventExtender 컴포넌트 shouldAwait props 추가
  docs/docs/react/components/EventExtender.mdx
  packages/react/src/components/EventExtender/EventExtender.spec.tsx
  packages/react/src/components/EventExtender/index.tsx
Labels: @modern-kit/react, fix

#766 feat(utils): zip 함수 추가
  .changeset/popular-suits-serve.md
  docs/docs/utils/array/zip.md
  packages/utils/src/array/index.ts
  packages/utils/src/array/zip/index.ts
  packages/utils/src/array/zip/zip.spec.ts
Labels: feature, @modern-kit/utils

#772 feat(utils): removeLetters 추가
  .changeset/thirty-pots-sell.md
  docs/docs/utils/object/objectEntries.md
  docs/docs/utils/object/objectKeys.md
  docs/docs/utils/object/objectValues.md
  docs/docs/utils/string/countSubstringOccurrences.md
  docs/docs/utils/string/extractLetters.md
  docs/docs/utils/string/extractNumber.md
  docs/docs/utils/string/removeLetters.md
  docs/docs/utils/string/removeSpecialCharacters.md
  docs/docs/utils/string/reverseString.md
  packages/utils/src/object/objectKeys/index.ts
  packages/utils/src/string/countSubstringOccurrences/countSubstringOccurrences.spec.ts
  packages/utils/src/string/countSubstringOccurrences/index.ts
  packages/utils/src/string/countSubstringOccurrences/internal.ts
  packages/utils/src/string/extractLetters/extractLetters.spec.ts
  packages/utils/src/string/extractLetters/index.ts
  packages/utils/src/string/extractNumber/extractNumber.spec.ts
  packages/utils/src/string/extractNumber/index.ts
  packages/utils/src/string/index.ts
  packages/utils/src/string/removeLetters/index.ts
  packages/utils/src/string/removeLetters/removeLetters.spec.ts
  packages/utils/src/string/removeSpecialCharacters/index.ts
  packages/utils/src/string/removeSpecialCharacters/removeSpecialCharacters.spec.ts
  packages/utils/src/string/reverseString/index.ts
  packages/utils/src/string/trim/index.ts
Labels: feature, @modern-kit/utils

#775 feat(utils): retry 함수 추가
  .changeset/thick-keys-collect.md
  docs/docs/utils/common/retry.md
  packages/utils/src/common/index.ts
  packages/utils/src/common/retry/index.ts
  packages/utils/src/common/retry/retry.spec.ts
Labels: feature, @modern-kit/utils

#785 feat(utils): isRegExp 유틸 함수 추가
  .changeset/clever-apes-accept.md
  docs/docs/utils/validator/isRegExp.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isRegExp/index.ts
  packages/utils/src/validator/isRegExp/isRegExp.spec.ts
Labels: feature, @modern-kit/utils

#788 feat(utils): isMap 유틸 함수 추가
  .changeset/young-pigs-kneel.md
  docs/docs/utils/validator/isMap.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isMap/index.ts
  packages/utils/src/validator/isMap/isMap.spec.ts
Labels: feature, @modern-kit/utils

#774 feat(utils): invariant 신규 유틸 함수 추가
  .changeset/cool-pets-beg.md
  docs/docs/utils/common/invariant.md
  docs/docs/utils/validator/isSet.md
  packages/utils/src/common/index.ts
  packages/utils/src/common/invariant/index.ts
  packages/utils/src/common/invariant/invariant.spec.ts
  packages/utils/src/validator/isSet/index.ts
Labels: feature, @modern-kit/utils

#790 feat(react): useDropZone 신규 훅 추가
  .changeset/old-pants-remain.md
  docs/docs/react/hooks/useDropZone.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useDropZone/index.ts
  packages/react/src/hooks/useDropZone/useDropZone.spec.tsx
  packages/react/src/hooks/useVisibilityChange/index.ts
Labels: feature, @modern-kit/utils

#786 refac: date 관련 로직 리팩토링
  docs/docs/utils/date/getUTCTime.md
  packages/react/src/hooks/useIntersectionObserver/index.ts
  packages/utils/src/date/getUTCTime/getUTCTime.spec.ts
  packages/utils/src/date/getUTCTime/index.ts
  packages/utils/src/date/index.ts
  packages/utils/src/date/isAfterDate/index.ts
  packages/utils/src/date/isBeforeDate/index.ts
  packages/utils/src/date/isDateInRange/index.ts
  packages/utils/src/date/isDateInRange/isDateInRange.spec.ts
  packages/utils/src/date/parseDate/index.ts
Labels: feature, @modern-kit/utils

#791 docs: useIntersectionObserver hasIntersected prop 문서 추가
  docs/docs/react/hooks/useIntersectionObserver.mdx
  packages/react/src/hooks/useScrollTo/index.ts
  packages/react/src/hooks/useScrollTo/internal.ts
  packages/react/src/hooks/useScrollTo/useScrollTo.utils.ts
  packages/utils/src/date/parseDate/index.ts
Labels: documentation

#792 feat(react): useComputedStyleObserver 신규 훅 추가
  .changeset/old-breads-relate.md
  docs/docs/react/hooks/useComputedStyleObserver.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useComputedStyleObserver/index.ts
  packages/react/src/hooks/useComputedStyleObserver/useComputedStyleObserver.spec.tsx
Labels: feature, @modern-kit/react

#801 feat(react): useCallbackOnce
  .changeset/flat-ravens-mate.md
  docs/docs/react/hooks/useCallbackOnce.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useCallbackOnce/index.ts
  packages/react/src/hooks/useCallbackOnce/useCallbackOnce.spec.tsx
Labels: feature, @modern-kit/react

#808 feat(react): useIsClient 신규 후 추가
  .changeset/every-sites-sort.md
  docs/docs/react/components/Iterator.mdx
  packages/react/src/components/ClientGate/index.tsx
  packages/react/src/components/Iterator/Iterator.spec.tsx
  packages/react/src/components/Iterator/index.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useAsyncEffect/index.ts
  packages/react/src/hooks/useCallbackOnce/useCallbackOnce.spec.ts
  packages/react/src/hooks/useImageStatus/index.ts
  packages/react/src/hooks/useIsClient/index.ts
  packages/react/src/hooks/useIsClient/useIsClient.spec.tsx
Labels: feature, @modern-kit/react

#810 feat(react): useInputState hook 추가
  .changeset/plain-showers-sip.md
  docs/docs/react/hooks/useInputState.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useInputState/index.ts
  packages/react/src/hooks/useInputState/useInputState.spec.tsx
Labels: feature, @modern-kit/react
